@import 'bootstrap'

.active
    text-decoration: underline

h1::before
    content: "| "

h1
    @extend .mb-3

h5
    @extend .fw-bold, .text-decoration-underline

div.card ul
    @extend .list-group, .list-group-numbered, .my-3
    li
        @extend .list-group-item
        span
            @extend .fw-bold
.sub-menu
    @extend .navbar, .navbar-expand-lg, .bg-secondary-subtle, .p-1, .shadow
    border-radius: 1rem
    a:hover
        @extend .border, .border-primary
        border-radius: .5rem